

* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box !important;
  font-size: 14px;
}

.fontsize {
	font-size: 17px;
}

.bodyDIV {
	/*background-color: rgb(242,242,242);*/
	background-color: #efefef;
	/*background-color: blue;*/
	min-height: 100vh;
	position: relative;
	border: 1px hidden transparent;
	padding-bottom: 60px;
}


.footer {
	/*background-color: rgb(255, 207, 55);*/
	/*background-color: rgb(188, 16, 16);*/
	background-color: #A20025;
	color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: block;
	margin-top: 15px;
}

.supremeDIV {
	width: 1200px;
	margin: 0 auto;
}

.bgWhite {
	background-color: white !important;
}

.bgGreen {
	background-color: green !important;
}

.bgTransparent {
	background-color: transparent !important;
}



 .cardHighlight {
  min-height: 100%;
}

.carou {
	height: auto;
}


::-webkit-scrollbar {
	width: 15px;
	height: 17px;
}

::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgb(188, 16, 16); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgb(188, 16, 16); 
}


::-webkit-scrollbar-track:vertical {
  background-color: rgb(242, 242, 242); 
  
}
 
::-webkit-scrollbar-thumb:vertical {
  background: rgb(166, 166, 166); 
  border-radius: none;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: rgb(166, 166, 166); 
}

.catDiv1 {
	overflow-x:auto;
	overflow:auto;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10px;
}

.catDiv2 {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

/*Nav.Link*/
.catDiv3 { 
	color: inherit;
	margin: 0 10px;	
	height: 140px;
	width: 140px;
	cursor: pointer;
	text-decoration: none;
}

.catDiv3:hover { 
	color: inherit; 
	text-decoration: none;
}

.img {
  /*border: 2px solid white;*/
  height: auto;
  width: 80px;
  margin-top: 10px;
}

.homeDiv1 {
	/*width: 820px;*/
	margin: 0 auto;
}

.itemDiv1 {
	text-decoration: none;
	color: black;
	position: relative;
	margin: 10px 7px;
	width:  190px;
	height: 294px;
	display: inline-block;
	padding-top: 182px;
	cursor: pointer;
}

.itemDiv1:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/*item_Img.png 188x188 original ratio without itemImg*/
/*.itemImg {
	outline: none;
	position: absolute;
	top: 0;
}*/
.itemImg {
	position: absolute;
	/*display: inline-block;*/
	top:0;
	width: 188px;
	height: 188px;
	object-fit: scale-down;
	background-color: white;
	border: 1px solid black;
}


.borderTop {
	border-top: 1px solid grey;
}

.itemFontColor {
	color:  rgb(188, 16, 16);
	font-weight: 700;
}

.itemTitle {
	font-weight: bold;
}

/*Home.js*/
.lgTxt {
	font-size: 24px;
}


.urlDiv1 {
	width: 200px;
	display: inline-block;
}

.urlDiv2 {
	/*width: calc(100vw + 30vw);*/
	width: 100%;
	display: inline-block;
	padding-top: 15px;
}


.b {
	width: 250px;
	min-height: 100px;
}

/*container of div .bc*/
.bb {
	width: 250px;
	min-height: 100px;
	padding-left: 15px;
	padding: 30px 0 0 15px;
}

/*child of .bb*/
.bc {
	width: 100%;
	display: block;
}

.bcd {
	width: 100%;
	display: flex;	
	justify-content: center;
}

.settings-btn {
	padding: 5px 5px 5px 15px;
	width: 204px;
	/*text-align: center;*/
	cursor: pointer;
	background-color: inherit;
	text-align: left;
	border: 1px solid black;
	position: relative;
	outline: none;
	margin-bottom: 5px;
}

.settings-btn:hover {
	outline: 1px solid black;
}

.settings-btn:focus {
	outline: 1px solid black;
}

.settings-icon {
	position: absolute;
	right: 5px;
	font-size: 24px;
	margin: auto 0 auto auto;
}

.setting-prof {
	max-width: 500px;
}

.settings-pp {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	/*border: 1px solid #aaa;*/
	background-color: white;
}

.settings-img {
	position: absolute;
	display: inline-block;
	width: 198px;
	height: 198px;
	object-fit: scale-down;
	background-color: white;
	/*border-radius: 50%;*/
}


.settings-pp-btn {
	position: absolute;
	bottom: -10px;
	right: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.displayNone {
	display: none;
}

/*main div of input element*/
.settings-b1 {
	position: relative;
	/*border: 1px solid #ccc;*/
	border: none;
	display:flex;
 	font-size: 16px;
 	/*outline: 4px solid green;*/
 	/*shape-outside: */
 	border-radius: 5px;
 	/*margin: 2px;*/
 }

 /*label*/
 .settings-b2 {
	position:absolute;
	left:15px;
	top: -13px;
	background-color: white;
	font-size: 14px;
	padding:0 2px;
 }

 .settings-b2-invalid {
 	position:absolute;
	left:15px;
	bottom: -20px;
	background-color: transparent;
	font-size: 12px;
	padding:0 2px;
	color: rgb(220, 53, 69);
 }

 .settings-b2-valid {
 	position:absolute;
	left:15px;
	bottom: -20px;
	background-color: transparent;
	font-size: 12px;
	padding:0 2px;
	color: rgb(40, 167, 69);
 }


 
 /*input element border*/
 .settings-b3 {
 	/*margin:auto 0 auto 12px;*/
 	border: none;
	outline: none;
	width: 100%;
	border: 1px solid #bbb;
	padding: 10px 0 10px 17px;
	border-radius: 5px;
	overflow: hidden; 
 }

/*for Sell.js css*/
 .settings-b3-sell {
 	box-shadow: 0 0 2px 1px rgb(188, 16, 16);
 	border: none;
 }

 .settings-b3:focus { 	
 	box-shadow: 0 0 0 3px rgb(191, 222, 255);
 }

.isValid:focus {
  	box-shadow: 0 0 0 3px rgb(201, 233, 208) !important;
 } 

  .isInvalid:focus {
  	box-shadow: 0 0 0 3px rgb(246, 204, 208) !important;
 }

 .settings-b3-sell:focus {
 	box-shadow: 0 0 2px 1px rgb(188, 16, 16);
 	border: none;
 }


.textWhiteSpace {
	white-space: pre-line;
}

.icon-a { display: inline-block; }
.icon-b { display: none; }

.c {
	width: calc(100% - 250px);
	min-height: 100px;
}

._navlinkReset {
	color: black;
	padding: 0 !important;
	text-decoration: none;
	display: inline-block !important;
}

._navlinkReset:hover {
	color: black;
	/*text-decoration: none;*/
}


/*======================= MAIN DIV*/
.itemC1 {
	position: relative;
	width: 90%;
	margin: 0 auto;
	display: flex;
	/*background-color: white;*/
}

.itemD1 {
	position: relative;
	display: inline-block;
	width: 445px;
	min-height: 500px;
	padding: 5px;
	margin-right: 5px;
}

.itemE1 {
	position: relative;
	/*top: 0;
	right: 0;*/
	/*display: inline-block;*/
	width: calc(100% - 450px);
	/*height: auto;*/
	padding: 20px;
	/*margin-bottom: 20px;*/
}

/*=======================*/

.itemD2 {
	position: relative;
	display: flex;
	align-items: center;
	background-color: white;
	width: 400px;
	height: 400px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	margin: 0 auto;
}

.itemD3_img1 {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.itemD3_img2 {
	width: 80px;
	height: 80px;
	object-fit: scale-down;
	margin: 5px 3px;
	background-color: white;
	border: 1px solid #aaa;
}

/*.itemD1 { width: 445px; }*/
.itemD4 {
	 width: 432px;
	 margin: 0 auto;
	 /*border: 1px solid red;*/
}

.itemE2_img1 {
	width: 50px;
	height: 50px;
	object-fit: scale-down;
	/*margin-right: 20px;*/
	background-color: white;
	border: 1px solid #ccc;	
	border-radius: 50%;
	margin-right: 5px;
}

.itemE3 {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-end;
}

/*button*/
.itemE4 {
	margin: auto 0;
}


	
.fnt1 {font-size: 30px; font-weight: 600;}
.fnt2 {font-size: 24px;}



/*=============================*/

/*.itemE2_img1 ref*/
.pPic {
	width: 100px !important;
	height: 100px !important;

}



.sell-3-img1 {
	position: relative;
	display: inline-flex;
	width: 108px;
	height: 108px;
	margin: 5px;
	justify-content: center;
	align-items: center;
}

.sell-3-img2 {
	position: relative;
	display: inline-flex;
	width: 108px;
	height: 108px;
	margin: 5px;
	/*justify-content: center;
	align-items: center;*/
	border: 1px solid #aaa;
	background-color: white;
}

.sell-3-a {
	position: relative;
	display: inline-block;
	width: 108px;
	height: 108px;
	margin: 5px;
	/*justify-content: center;*/
	/*align-items: center;*/
	border: 1px solid #aaa;
	background-color: white;
}

.sell-3-b1 {
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgb(188, 16, 16);
	cursor: pointer;
	outline: none;
	width: 23px;
	height: 23px;
	font-size: 12px;
	color: white;
	z-index: 5;
	border-radius: 45%;
}

.sell-3-b2 {
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(188, 16, 16, 0.3);
	cursor: pointer;
	outline: none;
	width: 23px;
	height: 23px;
	font-size: 12px;
	color: white;
	z-index: 5;
	border-radius: 45%;
}

.sell-3-c {
	position: absolute;
	display: inline-block;
	width: 106px;
	height: 106px;
	object-fit: scale-down;
	background-color: white;
}

/*#myId {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 106px;
	height: 106px;
	background-color: white;	
	opacity: 0.5;
	z-index: 7;

}
*/
.sell-3-d {
	display: flex;
	/*border: 1px solid blue;*/
	margin: 0 auto;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#sell-3-label {
	/*position: relative;*/
	width: auto;
	/*border: 1px solid red;*/
	margin-bottom: 0;
	cursor: pointer;
	/*height: 20px;*/
	/*border: 2px solid green;*/
	/*position: relative;*/
	/*justify-content: center;
	align-items: center;*/
	/*margin: auto;*/
}

.sell-3-input2 {
	display: none;
	/*border: 2px solid red;*/
}


.sell-4-price_1 {
	width: 70px;
	display: inline;
	border-radius: 5px 0 0 5px;
	background-color: #eee;
}

.sell-4-price_2 {
	border-radius: 0 5px 5px 0;
}

#description {
	min-height: 150px;
}

.alert {
	color: red;
}

.noBorder {
	border: none;
}

.nav_aa {
	display: flex;
	width: 100%;
}

 /*310 or 320*/
.nav_ab {
	display: inline-block;
	width: 60%;
}

.nav_ac {
	display: inline-block;
	width: 40%;
}

.nav_ad {
	width: 100% !important; 
	/*border: 3px solid green !important;*/
}


.conTab {
	/*color: white;*/
	border-radius: 0 !important;
}

.customized-modal-2 .modal-content {
  width: 700px;
  margin: auto;
  border: 2px solid red;
}

/*-xs galaxy s5 360 x 640  -- 360 pinaka minimum*/
@media screen and (max-width: 577px) { 
	* {font-size: 12px;}
	
	.itemC1 {
		width: 100% !important;
		margin: 0 auto !important;
		display: block !important;
	}

	.itemD1 {
		width: 100% !important;
		min-height: 400px;
		margin: 5px auto !important;
		display: block !important;
		padding: 5px 2px !important;
	}

	.itemD2 {
		width: 348px !important;
		height: 348px !important;
	}

	.itemD4 {
		 width: 100% !important;
		 margin: 0 auto;	
	}

	.itemD3_img2 {
		margin: 5px 4px;
	}

	.itemE1 {
		position: relative !important;
		width: 100% !important;
		margin: 15px auto 0 auto !important;
		display: block !important;
		/*border: 2px solid orange !important;*/
	}
}


/*-sm ipad 768 x 1024*/
@media screen and (max-width: 769px) { 
	.itemC1 {
		width: 100% !important;
		margin: 0 !important;
		display: block !important;
		/*background-color: white !important;*/
		/*border: 4px solid black !important;*/
	}


	.itemD1 {
		margin: 5px auto !important;
		display: block !important;
	}

	.itemE1 {
		position: relative;
		width: 445px;
		margin: 15px auto 0 auto !important;
		display: block !important;
		/*border: 2px solid orange !important;*/
	}
}

/*md*/
@media screen and (max-width: 993px) {

}

/*lg ipad pro 1024 x 1366*/
@media screen and (max-width: 1201px) {

}
/*=======================================*/

/*@media screen and (min-width: 222px)*/
@media screen and (max-width: 426px) {
	.homeDiv1 { 
		width: 340px;
		margin: none;
	}
	.itemDiv1 {
		width:  160px;
		height: auto;
		margin: 10px 5px;
	}

	/*item_Img.png 188x188 original ratio without itemImg*/
	.itemImg {
		width: 158px;
		height: 158px;
	}
	/*.homeDiv1_v2 { width: 180px !important;}*/ /*1*/
	.display_none { display: none;}

	.sell-1 { 
		width: 350px;
		height: auto;
		margin: 0 auto;
		box-shadow: 0 0 2px 1px rgb(188, 16, 16);
		border-radius: 5px;
		overflow-x: auto;
	}

	.sell-1-b {
		box-shadow: none;
		margin-top: 30px;
		padding-top: 10px;
		padding: 10px 2px;
	}

	.sell-1-c {
		width: 350px;
		height: auto;
		margin: 0 auto;
	}

	.sell-2-a {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 1px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sell-2-b {
		display: inline-flex;
		min-width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 1px;
	}

	.settings-b1-sell {
		font-size: 12px;
	}
}

/*@media screen and (min-width: 222px) {
	.homeDiv1 { width: 208px; }
}*/  /*2*/

/*below xs 577px*/
@media screen and (min-width: 426px) {
	.homeDiv1 { width: 412px; } 

	.sell-1 { 
		width: 425px;
		margin: 0 auto;
		box-shadow: 0 0 2px 1px rgb(188, 16, 16);
		border-radius: 5px;
	}

	.sell-1-b {
		box-shadow: none;
		margin-top: 40px;
	}

	.sell-1-c {
		width: 425px;
		margin: 0 auto;
	}

	.sell-2-a {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 1px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sell-2-b {
		width: auto;
		margin: 0 auto;
		padding: 1px;
	}

	.settings-b1-sell {
		font-size: 14px;
	}

} /*2*/

/*540px surface duo phone*/

/*---------*/
/*below sm 769px*/
@media screen and (min-width: 630px) {
	.homeDiv1 {width: 616px;} /*3*/ 
	
	.sell-1 {
		width: 600px;
		height: 248px;
	}

	.sell-1-b {
		height: auto;	
	}

	.sell-1-c {
		width: 600px;
	}

	.sell-2-a {
		
	}

	.sell-2-b {
		width: 100%;
	}
} /*3*/
 
@media screen and (max-width: 674px) {
	.b {display: none;}

	.bb {
		width: 100%; 
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #ccc;
		padding: 0;
		min-height: auto;
	}

	.bb-prof {
		justify-content: flex-start;
		align-items: none;
		padding: 0 0 0 15px;
	}

	.bc {
		display: inline-block;
		width: auto;
	}

	.bcd {
		display: inline-block;
		width: auto;
		padding: 0 15px;
	}

	.settings-btn {
		width: 150px;
		font-size: 12px;
		margin-right: 5px;
		margin-top: 10px; 
	}

	.icon-a { 
		display: none; 
	}
	.icon-b { 
		display: inline-block; 
	}

	.c { width: 100% }

	.fnt1 {font-size: 24px;}
}

 /*here*/
@media screen and (min-width: 674px) {
	.homeDiv1_v2 { width: 412px !important; border:none; } /*2  media customized*/
} /*3*/

/*---------*/

/*below md 993px*/
@media screen and (min-width: 834px) {
	.homeDiv1 {width: 820px;} 
	/*.homeDiv1_v2 { width: 616px !important;}*/ /*3*/
} /*4*/

@media screen and (min-width: 874px) {
	.homeDiv1_v2 { width: 616px !important;} /*3 media customized*/
} /*4*/

/*---------*/

/*below lg 1201px*/
@media screen and (min-width: 1038px) {
	.homeDiv1 { width: 1024px;}
	/*.homeDiv1_v2 { width: 616px !important;}*/ /*3*/
	.homeDiv1_v2 { width: 820px !important;} /*4*/
} /*5*/

/*xl 1201px up*/
@media screen and (min-width: 1242px) {
	
	.homeDiv1 { width: 1228px;} 
	.homeDiv1_v2 { width: 820px !important;} /*4*/
} /*6*/

@media screen and (min-width: 1446px) {
	
	/*.homeDiv1 { width: 1432px;}
	.homeDiv1_v2 { width: 1024px !important;}*/

	.homeDiv1 { width: 1432px;}
	.homeDiv1_v2 { width: 1024px !important;}

	/*.itemDiv1 {
		margin: 10px auto;
	}
*/
	/*.homeDiv1 { width: auto;}
	.homeDiv1_v2 { width: auto !important;}*/
} /*7*/

/*font-weight: 700;*/

/*
=======================================

-xs galaxy s5 360 x 640
@media screen and (min-width: 575px) { 
	.homeDiv1 { width: 100%; }

}

-sm ipad 768 x 1024 
@media screen and (min-width: 767px) { 
  
}

md
@media screen and (min-width: 991px) {
	

}

lg ipad pro 1024 x 1366
@media screen and (min-width: 1199px) {
	.homeDiv1 { width: 1024px; }
}*/









/*222
426
630
834
1038
1242
1446*/


/*
@media screen and (max-width: 208px) {}
@media screen and (max-width: 412px) {}
@media screen and (max-width: 616px) {}
@media screen and (max-width: 820px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 1228px) {}
@media screen and (max-width: 1432px) {}



@media screen and (max-width: 209px)     {  .homeDiv1 {	width: 208px; } }
@media screen and (max-width: 413px)     {  .homeDiv1 {	width: 412px; } }
@media screen and (max-width: 617px)     {  .homeDiv1 {	width: 616px; } }
@media screen and (max-width: 821px)     {  .homeDiv1 {	width: 820px; } }
@media screen and (max-width: 1025px)     {  .homeDiv1 {	 width: 1024px; } }
@media screen and (max-width: 1229px)     {  .homeDiv1 {	 width: 1228px; } }
@media screen and (min-width: 1433px)     {  .homeDiv1 {	 width: 1432px; } }
*/

































