.navStyle {
	width: 100%;
	background-color: green; 
	color: white;
}

.borderRed { border: 2px solid red; }
.borderBlue { border: 2px solid blue; }
.borderGrey { border: 1px solid grey; }
.borderOrange {	border: 2px solid orange; }
.borderGreen { border: 2px solid green; }
.borderYellow { border: 2px solid green; }
.borderBlack { border: 2px solid black; }

.backgroundWhite {
	background: white;
	display: inline-block;
	
}

/*=======================================*/

.topnav {
  background-color: rgb(188, 16, 16);
  width: 100%;
  height: 89px;
  position: sticky;
  top: 0;
  padding: 0 !important;
  z-index: 20;
  border-bottom: 3px solid rgb(188, 16, 16);
}

/*if postion set to fixed the the ".rightDIV" will act like a block otherwise it will just float */
.containerDIV {
  position: relative;
  width: 100%;
}

.contentDIV {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 27px;
  color: white;
}

/*with <a> element , the default display value is inline*/
/*height: 28px;*/ /*standard size w/ fontsize of 16*/
.navLinkStyle1 {
  color: white ;
  text-decoration: none;
  display: inline-block !important;
  height: auto;
  margin: 3px 15px !important;
  padding: 0 !important;
}

.btn1 {
  min-width: 80px;
  height: auto;
  padding: 0 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  color: white;
  background-color: rgb(188, 16, 16);
  text-decoration: none;
  border: none;
}

.btn1:hover {
  color: #eee;
  text-decoration: none;
}

.btn1:active {
  color: white;
  font-size: 13px;
}

.btn2 {
  width: 100%;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  /*color: white;*/
  color: rgba(188, 16, 16, 1);
  /*background-color: rgb(188, 16, 16);*/
  background-color: #ffffff;
  border: 2px solid rgba(188, 16, 16, 1);
}

.btn2:hover {
  color: #ffffff;
  background-color: rgba(188, 16, 16, 0.9);
  font-weight: normal;
}


.btn2:active {
  /*color: white;*/
  font-size: 13px;
  background-color: rgba(188, 16, 16, 0.6);
  border: 2px solid rgba(188, 16, 16, 0.1);
}

.btn3 {
  width: 55px;
  height: auto;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  color: rgba(188, 16, 16, 1);
  background-color: transparent;
  border: none;
}

.btn3:hover {
  color: rgba(188, 16, 16, 0.7);
}


.btn3:active {
  font-size: 13px;
}

/*customized-modal-2 nasa sa App.js*/
.customized-modal-1 .modal-content {
  width: 340px;
  margin: auto;
}

/*center box of modal*/
/*div.modal-content {
  width: 340px;
  margin: auto;

  border: 2px solid red;
}*/

/*background of modal*/
/*div.fade.modal.show {
  padding-left: 0;
  padding-right: 0;
  margin:0; 
}*/

/*modal body*/
.modalBox {
  width: auto;
  /*border: 2px solid red;*/
}

.custom1 {
  background-color: white;
  
}

.custom2 {
  justify-content: flex-start;
  height: auto;
}


.logo {
  height:auto !important;
  width:25vmin !important;
  margin: 10px 1% 10px 20px !important;
  cursor: pointer;
}

/*.logo {
  height:auto !important;
  width:15% !important;
  margin: 10px 1% 10px 20px !important;
}*/

.navLinkStyle2 {
  color: black;
  text-decoration: none;
  display: inline-block !important;
  margin: 0 30px 0 0px !important;
  height: auto;
}

.divButton {
  height: 100%;
  width: 70px;
  border: 2px solid blue;
  display: inline-block;
}

.form1 {
  padding: 0;
  width: 60%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  border: none;
}

.search {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  border: none;
  outline: none !important;
  border: 3px solid rgb(188, 16, 16);
  border-radius: 10px 0 0 10px;
}

.buttonStyle {
  cursor: pointer;
  height: 35px !important;
  width: 90px;
  font-size: 18px;
  margin: 0 ;
  outline: none !important;
  background-color: rgb(188, 16, 16);
  border: 3px solid rgb(188, 16, 16);
  border-radius: 0 10px 10px 0;
}

.buttonStyle:active {
  background-color: rgba(188, 16, 16, 0.8);
  border: 3px solid rgba(188, 16, 16, 0.0);
}

.iconStyle {
  cursor: pointer;
  outline: none !important;
  color: white;
  border: none !important;
}

.sellButton {
  height: 40px;
  width: 10%;
  color: white;
  margin-left: 3%;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

.sellButton:hover {
  color: white;
  text-decoration: none;
}

.sellButton:active {
  font-size: 17px;
}

/*.fnSize_p1 { font-size: calc(0.25em + 1vw); }*/
.fnSize_p2 { font-size: calc(0.25em + 1vw); }
.fnSize_p3 { font-size: calc(0.25em + 1vw); }



/*-xs */
@media screen and (max-width: 576px) { 

  .fnSize_h1 { font-size:0.5em; }
  .fnSize_h2 { font-size:0.5em; }
  .fnSize_h3 { font-size:0.5em; }

  .fnSize_p1 { font-size:80%; }
  /*.fnSize_p2 { font-size:0.75em; }*/

  .xsDisplayNone {
    display: none;
  }

}

/*-sm ipad 768 x 1024*/ 
@media screen and (max-width: 769px) { 
  a.p-0.m-0.nav-link .logo {
    margin: 10px 5px 10px 10px;
  }

  /*.form1 {
    width: 50%;
  }*/
}

/*md*/
@media screen and (max-width: 993px) {

}

/*lg ipad pro 1024 x 1366*/
@media screen and (max-width: 1201px) {

}


